<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--  jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
  <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>

<body>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row text-center">
        <h1>IKLIM</h1>
      </div>
    </div>
    <div class="panel-body">

      <form class="">
        <div class="form-group">
          <input type="text" class="form-control" id="searchkota" placeholder="masukkan Kota">
        </div>
        <button onclick="searchData()" class="btn btn-primary">Search</button>
      </form>

      <br><br>
      <table class="table table-striped">
        <thead>

        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <a href="/" class="btn btn-warning">Clear</a>
    </div>
  </div>
  <script type="text/javascript">

  function searchData(){
    const appId = '271da6b323b05ebaf2b4aaa0f3378f89';
    let kota = $("#searchkota").val();
    $.ajax({
      url: `http://api.openweathermap.org/data/2.5/forecast?q=${kota}&q=&mode=json&units=metric&cnt=5&appid=${appId}`,
      method: "GET"
    }).done(data => {
      showCity(data);
      showTable(add);
      // console.log("API", data.list);
    })
  }

  function showCity(add){
    var trHTML = '';
    add.forEach(data => {
      trHTML += `<tr>`;
      trHTML += `<th>${data.city.name}</th>`;
      trHTML += `<th>Suhu</th>`;
      trHTML += `<th>Perbedaan</th>`;
      trHTML += `</tr>`;
    })
    $('table thead').html(trHTML);
  }

  function showTable(add){
    var trHTML = '';
        add.forEach(data => {
          for (let i = 0; i <= data.list.length; i++) {
            trHTML += `<tr>`;
            trHTML += `<td>${data.list[i].dt}</td>`;
            trHTML += `<td>${data.list[i].temp}</td>`;
            trHTML += `<td>${(data.list[i].temp_max) - (data.list[i].temp_min)}</td>`;
            trHTML += `</tr>`;
          }
        })
        $('table tbody').html(trHTML);
  }

  </script>
</body>
</html>
