<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--  jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
  <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>

<body>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row text-center">
        <h1>IKLIM</h1>
      </div>
    </div>
    <div class="panel-body">

      <form id="add-search" class="">
        <div class="form-group">
          <input type="text" class="form-control" id="searchkota" placeholder="masukkan Kota">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <br><br>
      <table class="table table-striped">
        <thead>

        </thead>
        <tbody>

        </tbody>
      </table>
      <a href="/" class="btn btn-warning">Clear</a>
    </div>
  </div>
  <script type="text/javascript">

  $('#add-search').submit((e) => {
    e.preventDefault()
    searchData()
  })

  function searchData(){
    const appId = '271da6b323b05ebaf2b4aaa0f3378f89';
    let kota = $("#searchkota").val();
    $.ajax({
      url: `http://api.openweathermap.org/data/2.5/forecast?q=${kota}&mode=json&units=metric&cnt=5&appid=${appId}`,
      method: "GET"
    }).done(data => {
      let dataKota = data.city.name;
      let dataTable = data.list;
      showCity(dataKota);
      // console.log("DataTable", dataTable);
      showTable(dataTable);
      // rataTemp(dataTable);
    })
  }

  function showCity(dataKota){
    var thHTML = '';
    thHTML += "<tr>";
    thHTML += "<th>" + dataKota + "</th>";
    thHTML += "<th> Suhu </th>";
    thHTML += "<th> Perbedaan </th>";
    thHTML += "</tr>";
    // console.log("Replace HTML", thHTML);
    $('table thead').html(thHTML);
  }

  function rataTemp(dataTable){

    let total = 0;
    let nilai = getValue(dataTable);
    nilai.forEach(function(score) {
      total += score;
    });

    let pembagi = dataTable.length;
    let Avg = total/pembagi;
    // console.log("Rata Rata", Avg);
    return Avg;
  }

  function getValue(dataTable){
    let nilai =[];
    for (var i = 0; i < dataTable.length; i++) {
      nilai.push(dataTable[i].main.temp);
    }
    return nilai;
  }

  function showTable(dataTable){
    var thHTML = '';

    for (var i = 0; i < dataTable.length; i++) {
      thHTML += "<tr>";
      thHTML += "<td>" + dataTable[i].dt + "</td>";
      thHTML += "<td>" + dataTable[i].main.temp + "</td>";
      thHTML += "<td>" + (dataTable[i].main.temp_max - dataTable[i].main.temp_min) + "</td>";
      thHTML += "</tr>";
    }

    thHTML += "<td><strong>Rata-rata</strong></td>";
    thHTML += "<td><strong>Suhu Rata-rata</strong></td>";
    thHTML += "<td><strong>Perbedaan Rata-rata</strong></td>";



    //console.log("nilaiTable", (dataTable[0].main.temp_max - dataTable[0].main.temp_min));
    $('table tbody').html(thHTML);
  }

  </script>
</body>
</html>
